<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Datas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #formulario = "ngForm">
    <!--Invoca a função BuscaData()-->
    <ion-button expand="block" (click)="BuscaData()">
      BUSCAR DATA NO SISTEMA
    </ion-button>
  </form>
  
  <ion-card>
    <!--Card que exibe as informações de data e suas respectivas manipulações, através das variáveis globais-->
    Data do Sistema: {{dtsistema}}<p>
    Dia da Semana: {{semana}}<p>
    Dia da Mês: {{dia}}<p>
    Mês: {{mes}}<p>
    Ano: {{ano}}<p>
    Hoje, {{semana_atual}} {{dia}} de {{mes_atual}} de {{ano_atual}}
  </ion-card>
</ion-content>
